<!DOCTYPE html>
<html>
    <head>
        <title>Dashboar HTML - PP</title>
        <meta charset="UTF-8">
        <link rel="icon" type="image/x-icon" href="{{helper.get('STATICS_URL')}}assets/site/img/favicon.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="text/javascript">var BASE_URL = '{{helper.get('BASE_URL')}}';</script>
        <!-- Inicio CSS-->
        {% block stylesheet %}{% end %}
        <!-- Fin CSS-->
        <!-- Inicio JS-->
        {% block javascript %}{% end %}
        <!-- Fin JS-->
    </head>
    <body>
        <script id="blank-template" type="text/x-handlebars-template">
            <!-- Inicio Yield-->
            {% raw '{{> yield}}' %}
            <!-- Fin Yield-->
        </script>
        <script id="yield" type="text/x-handlebars-template">
            {% block content %}{% end %}
        </script>
        <script type="text/javascript">
            var BASE_URL = '{{helper.get('BASE_URL')}}';
            var STATICS_URL  = '{{helper.get("STATICS_URL")}}';
            var DATA = JSON.parse('{% raw data %}');
        </script>
    </body>
</html>
    