<!DOCTYPE html>
<html>
    <head>
        <title>Dashboar HTML - PP</title>
        <meta charset="UTF-8">
        <link rel="icon" type="image/x-icon" href="{{helper.get('STATICS_URL')}}assets/site/img/favicon.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Inicio CSS-->
        <link href="{{helper.get('STATICS_URL')}}dist/assets/styles.min.css" rel="stylesheet" type="text/css"/>
        {% block stylesheet %}{% end %}
        <!-- Fin CSS-->
    </head>
    <body>
        <!-- Inicio Yield-->
        {% block content %}
        {% end %}
        <!-- Fin Yield-->
        <!-- Inicio JS-->
        <script src="{{helper.get('STATICS_URL')}}dist/assets/app.min.js" type="text/javascript"></script>
        {% block javascript %}{% end %}
        <!-- Fin JS-->
    </body>
</html>
    