<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Servicio de Monta</title>
  <link rel="shortcut icon" href="{{helper.get('STATICS_URL')}}favicon.ico" type="image/x-icon">
  {% block css %}{% end %}
  {% block js_top %}{% end %}
</head>
<body>
    <!-- Inicio Modal -->
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modal-container"  id="btnModal" style="display: none" >Launch demo modal</button>
    <div class="modal fade" id="modal-container" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"></div>
    <!-- Fin Modal -->
     <!-- Inicio App -->
    <div id="header-app"></div>
    <div id="body-app"></div>
    <div id="contacto">
          <div class="contact-us">
               <div class="container">
                  <h1 class="titulo-seccion">CONTACTO</h1>
                  <div class="contact-form">
                   <div class="row">
                       <div class="col-sm-6">                  
                                <div class="messages" id="form-messages"></div>
                                <div class="controls">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="form_name">Nombre(s) *</label>
                                                <input id="form_name" type="text" name="name" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="form_lastname">Apellido(s) *</label>
                                                <input id="form_lastname" type="text" name="surname" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="form_email">Correo Electrónico *</label>
                                                <input id="form_email" type="email" name="email" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="form_phone">Teléfono </label>
                                                <input id="form_phone" type="text" name="name" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="form_message">Mensaje *</label>
                                                <textarea id="form_message" name="message" class="form-control" rows="5"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <button class="btn btn-primary">Enviar Mensaje</button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                           <br>
                                            <small class="text-muted"><strong>*</strong> Campos requeridos.</small>
                                        </div>
                                    </div>
                                </div>
                       </div>
                       <div class="col-sm-6">
                           <div class="row col1">
                               <div class="col-xs-5">
                                   <i class="fa fa-map-marker" style="font-size:16px;"></i>   Dirección
                               </div>
                               <div class="col-xs-7">
                                    One Gateway Center, Suite 25500+,<br> Newark 23, NJ 10235
                               </div>
                           </div>
                           
                            <div class="row col1">
                                <div class="col-sm-5">
                                    <i class="fa fa-phone"></i>   Teléfono
                                </div>
                                <div class="col-sm-7">
                                     +(91) 123 277 4239
                                </div>
                            </div>
                            <div class="row col1">
                                <div class="col-sm-5">
                                     <i class="fa fa-fax"></i>    Fax  
                                </div>
                                <div class="col-sm-7">
                                      123 123 4567
                                </div>
                            </div>
                            <div class="row col1">
                                <div class="col-sm-5">
                                    <i class="fa fa-envelope"></i>   Correo Electrónico
                                </div>
                                <div class="col-sm-7">
                                     <a href="mailto:info@yourdomain.com">info@yourdomain.com</a> <br> <a href="mailto:support@yourdomain.com">support@yourdomain.com</a>
                                </div>
                            </div><br>
                       </div>
                   </div>
                  </div>
               </div>
           </div>
     </div>
     <footer>
            <div class="container">
                Sitio desarrollado y soportado por Software Web Perú - <a href="http://softweb.pe/">Ir</a>
                <span id="btn-to-navbar" class="glyphicon glyphicon-upload pull-right" aria-hidden="true" style="font-size: 20px"></span>
            </div>
    </footer>
     <!-- Fin App -->
    <script id="header-template" type="text/x-handlebars-template">
            <nav class="navbar navbar-default">
            <div class="container">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                <div class="icon icon-chiguagua icon-brand"></div>
                <span>Servicio de Monta</span>
                </a>
              </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                    {% raw '{{> menu_modulos}}' %}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{% raw '{{BASE_URL}}' %}#/registro">Registrarse</a></li>
                        <li><a href="{% raw '{{BASE_URL}}' %}#/login">Login</a></li>
                    </ul>
                </div>
              <!--/.nav-collapse -->
            </div><!--/.container-fluid -->
        </nav>
        {% raw '{{> yield}}' %}
    </script>
    <script id="menu-modulos" type="text/x-handlebars-template">
        {% raw '{{{menuModulos}}}' %}
    </script>
	<script id="yield" type="text/x-handlebars-template">
        {% block content %}{% end %}
    </script>
	{% block js_bottom %}{% end %}
</body>
</html>