<div class="jumbotron">
	<div class="container">	
		<h1>Servicio de Monta</h1>
		<p>This example is a quick exercise to illustrate how the default, static navbar and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
	</div>
</div>
<div class="container">
	<h3>Esta vista será 100% estática, sin intervención de models y views de backbone</h3>
</div>
<section>
    <div class="container">
    <!-- Portfolio Section -->
        <div class="row">
            <div class="col-lg-12">
                <div class="wow fadeInRight" data-wow-delay="0.5s">
                    <h2 class="page-header">Portfolio Heading</h2>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
              <div class="wow fadeInDown" data-wow-delay="0.5s">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                </a>
              </div>
            </div>
            <div class="col-md-4 col-sm-6">
            <div class="wow fadeInDown" data-wow-delay="0.5s">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
            <div class="wow fadeInDown" data-wow-delay="0.5s">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                </a>
             </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">        
    <!-- Features Section -->
        <div class="row">
            <div class="col-lg-12">
                <section class="wow fadeInRight" data-wow-delay="0.5s">
                    <h2 class="page-header">Modern Business Features</h2>
                </section>
            </div>
            <div class="col-md-6">
                <div class="wow fadeInDown" data-wow-delay="0.5s">
                    <p>The Modern Business template by Start Bootstrap includes:</p>
                    <ul>
                        <li><strong>Bootstrap v3.2.0</strong>
                        </li>
                        <li>jQuery v1.11.0</li>
                        <li>Font Awesome v4.1.0</li>
                        <li>Working PHP contact form with validation</li>
                        <li>Unstyled page elements for easy customization</li>
                        <li>17 HTML pages</li>
                    </ul>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id reprehenderit, quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia dolorum ducimus unde.</p>
                </div>   
            </div>
            <div class="col-md-6">
                <div class="wow fadeInDown" data-wow-delay="0.5s">
                    <img class="img-responsive" src="http://placehold.it/700x450" alt="">
                </div>
            </div>
        </div>
        <hr>
    </div>
</section>
<section>
    <div class="container">
    <!-- Call to Action Section -->
        <div class="well">
            <div class="row">
                <div class="col-md-8">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-lg btn-default btn-block" href="#">Call to Action</a>
                </div>
            </div>
        </div>
        <hr>
    </div>
</section>
<hr>